cwiczenia2.json
NBD Cwiczenia 1.docx
NBD Cwiczenia 2.docx
NBD Cwiczenia 3.docx
NBD Cwiczenia 4.docx
NBD Cwiczenia 5.docx
NBD Cwiczenia 6.docx
NBD Cwiczenia 7.docx
NBD Cwiczenia 8.docx
task2.cypher
task3.cypher